* {
  padding: 0;
  margin: 0;
}

#game-container {
  width: 500px;
  height: 400px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid black;
}

#gameCanvas {
  background-color: #eee;
  margin: 0 auto;
}
