* {
  padding: 0;
  margin: 0;
}

#game-container {
  position: relative;
  width: 800px;
  height: 618px;
  margin: 0 auto;
  margin-top: 20px;
  font-family: 'helvetica';
  font-size: 16px;
  border: 1px solid black;
  background-color: #eee;
}

#gameHUD {
  width: 95%;
  margin: 0 auto;
}

#gameScore, #gameLives, #gameLevel {
  display: inline-block;
  width: 33.33333%;
  float: left;
}

/*#gameScore {
  margin-left: 20px;
}*/

#gameLevel {
  text-align: center;
}

#gameLives {
  /*float: right;
  margin-right: 20px;*/
  text-align: right;
}

#gameHUD:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}

#gameCanvas {
  background-color: #0059BC;
  margin: 0 auto;
  top: 18px;
}

#gameWinLayer {
  display: none;
  font-size: 30px;
  color: #000;

  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

#gameOverLayer {
  display: none;
  font-size: 30px;
  color: #000;



  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

#gamePauseLayer {
  display: none;
  font-size: 30px;
  color: #fff;

  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.gameLayer {
  position: absolute;
}
